### Discord
TOKEN=token_du_bot

### Logs
GUILD_ID=obligatoire
CHANNEL_ID_LOGS=obligatoire
CHANNEL_ID_XKCD=obligatoire

### Config - Valeurs facultatives
DELETE_THREAD=# entier, non nul <=> le thread de log sera supprimé à la fin de l'exécution du bot
